<main>
    <div class="logout">
        <h1>You have been Logged-out successfully</h1>
        <footer class="footer">
            <a href="/">Go to Login Screen</a>
        </footer>
    </div>
</main>