<article>
  <h1>Show Finder</h1>
  <p>The website is built for Maze API. In this website, anyone can search top 5 matching shows by keywords</p>
  <form method="POST" action="/searchshows" class="search-form">

    <label>
      showSearchTerm
      <input type="text" name="showSearchTerm" placeholder="Show Search Term" value="{{char.body}}"> 
    </label>
    <br>
    <br>
    <button type="submit">Submit</button>
  </form>

</article>